* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  margin: 3%;
}
#main_container {
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: cornsilk;
  display: flex;
  flex-direction: column;
  height: 850px;
  border-right: black 3px solid;
  border-left: black 3px solid;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 15%;
  margin: 1% auto 1% auto;
  background-color: navy;
}

#middle-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  height: 70%;
  margin: auto;
  background-color: grey;
}
#top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 20%;
  margin: 1% auto 1% auto;
  background-color: lightgray;
}
#main-section {
  height: 80%;
  width: 90%;
  margin: 1% auto 1% auto;
  background-color: lightblue;
}
form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;
}
#table-render-space {
  overflow: scroll;
  height: 55%;
  width: 96%;
  margin: 3% auto 1% auto;
  background-color: palegoldenrod;
}
#table-html-space {
  overflow: scroll;
  height: 35%;
  width: 96%;
  margin: 1% auto 1% auto;
  background-color: red;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: navy;
  height: 15%;
  margin: 1% auto 1% auto;
  margin-bottom: 10px;
}
header p {
  font-size: 1.5em;
  color: white;
}
footer p {
  font-size: 1.5em;
  color: white;
}

input {
  text-align: center;
}
table {
  border: 1px dotted black;
  padding: 5px;
  background-color: white;
  margin: 0 auto;
  
}
tbody{
  overflow: auto;
}
td {
  border: 1px solid black;
  padding: 5px;
}
textarea{
  width:90%;
  height: 90%;
  margin: 1% auto 1% auto;
}
